@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
	font-family: "Mukta", sans-serif;
	margin: 0;
	padding: 0;
}

/* text styles */

.uppercase {
	text-transform: uppercase;
}

.handwriting {
	font-family: "Shadows Into Light", "Times New Roman", Times, serif;
}

.center-text {
	position: relative;
	text-align: center;
	font-size: 2.2rem;
}


/* header */

/* logo */

/* circular-logo code for making a rectange a circlefrom https://www.webfx.com/blog/web-design/circular-images-css/ */
.circular-logo {
	display: inline-block;
	position: relative;
	height: 60px;
	width: 60px;
	overflow: hidden;
	border-radius: 50%;
	top: 50%;
	transform: translateY(20%);
}

#logo-image {
	width: auto;
	height: 100%;
	margin-left: -30px;
}

.inline-nav-text {
	display: inline-block;
	position: relative;
	top: 50%;
	/* transform code from stack overflow https://stackoverflow.com/questions/8865458/how-do-i-vertically-center-text-with-css to get text to centre the logo */
	transform: translateY(-50%);
}

.nav-text {
	font-size: 20px;
}

@media screen and (max-width: 576px) {
	.nav-text {
		font-size: small;
	}
}


/* buttons */

.btn {
	border: none;
	border-radius: 15px;
	color: white;
	font-weight: 500;
	font-size: 1.2em;
	padding: 10px 20px;
	margin: 15px;

	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.btn:focus,
.btn:hover,
.btn:active {
	color: #B8860B;
	box-shadow: none;
	
}

.hero-btn {
	border-radius: 50%;
	/* border: 1.5px solid white; */
	background-color: white;
	color: black;
}

.hero-btn:focus,
.hero-btn:hover,
.hero-btn:active {
	background-color: black;
	
}

/* hero */

.hero-container {
	height: 65vh;
	background: url('../images/iso-camera.jpg') no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 5vh;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	/* https://dzuz14.medium.com/code-a-full-width-hero-background-image-with-transparent-overlay-95d757f8ff2c */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay h1 {
	padding-top: 20vh;
}


.jumbotron-header {
	font-size: 3rem;
}


/* about me */

.section-about {
	padding-top: 50px;
}
.profile-image {
	width: 100%;
	height: 55vh;
	object-fit: scale-down;
	margin-top: 15vh;
	display: block;
}

@media screen and (max-width: 576px) {
	.profile-image {
		margin: 10vh auto;
		width: 80%;
	}
	.section-about {
		margin: 2px;
	}
}

@media screen and (min-width: 992px) {
	.profile-image {
		margin-top: 5vh;
	}
}

/* carousel */
.carousel {
	width: 40vw;
	margin: 50px auto;
}

/* footer */

footer {
	background-color: #B8860B22;
	margin-top: 5vh;;
}

.social-links {
	padding-bottom: 15px;
}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: black;
	background: #B8860B33;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.social-links li a i:hover {
	background: black;
	color: white;
}

#footer-details {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.rule-line {
	width: 20px;
	margin: 20px auto;
}

.footer-sub {
	font-weight: 500;
}

/* gallery */

.img-thumbnail {
	border: none;
}

.modal-image {
	max-height: 90%;
	max-width: 90%;
}

/* form */

.form-label {
	font-size: 16px;
}

.form-input {
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #c7c7c7;
	border-radius: 10px;
	width: 100%;
	
}

.form-input:required {
	z-index: 1101;
}

.form-input:invalid {
	border: 1.5px solid red;
}

.form-input:focus {
	outline: none;
	box-shadow: 0 0 0 2px #B8860B;
	border: none;
}




.contact-form {
	width: 65vw;
	margin: auto;
	padding: 30px 0;
}

.form-control {
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #c7c7c7;
	border-radius: 10px;
	width: 100%;
}



.form-control:invalid {
	border: 1px solid red;
}

.form-control:focus {
	outline: none;
	box-shadow: 0 0 0 2px #B8860B;
	border: none;
}

.radio-input {
	appearance: none;
  	background-color: #fff;
    margin: 0;
  
	width: 1em;
	height: 1em;
	border: 0.1em solid #c7c7c7;
	border-radius: 50%;
}

.radio-input:focus {
	outline: none;
	box-shadow: 0 0 0 2px #B8860B;
	border: none;
}

.radio-input:checked {
	outline: none;
	box-shadow: none;
	background-color: #c7c7c7;
	border: none;
}


#submit {
	padding: 5px 10px;
	border: 1px solid #c7c7c7;
	border-radius: 10px;
	text-align: center;
	background-color: white;
}

#submit:focus {
	outline: none;
	box-shadow: 0 0 0 2px #B8860B;
	border: none;
}

#submit:hover {
	outline: none;
	box-shadow: 0 0 0 2px #B8860B;
	border: none;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

form h2 {
	font-size: 1.4rem;
	text-align: center;
	margin: 3em 0;
}


/* 404 page */

.background-404 {
	background-color: #B8860B33;
}

.title-404 {
	font-size: 6rem;
	padding-top: 10vh;
	color: #B8860B;
}

.p-404 {
	padding: 10vh 0;
}

.link-404 {
	color: black;
	text-decoration: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.link-404:hover {
	color: #B8860B;
}